
    
    
      body {
        background-image: url(8538dc21f7c23dc288b23002d3261d51.jpg);
        background-size: cover;
        background-repeat:no-repeat;

    }

    .firma-logo {
        width: 220px;
        height: 180px; 
        margin-bottom: 10px; 
        margin: -100px 0 0 ;
        align-self: flex-start;
    }

    nav {
        background-color: #333;
        color: white;
        padding: 15px;
        
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        margin-left: 250px;
    }

    nav li {
        margin-right: 20px;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    nav a:hover {
        border-bottom: 2px solid white;
    }
    
    li {
        text-decoration: underline;
        color: blue;
        
    }

    h2 {
        margin-top: 100px;
    }

    .solserit {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 220px;
        background-color: #34a046;
        padding-top: 100px;
        
    }

    




.box1{
    color: white;
    background-color: #3dbe6f; 
    margin-top: 150px;
    height: 250px;
    width: 500px;
    margin-left: 400px;
    padding: 15px; 
    border: 2px solid #4B0082; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
    margin-bottom: 200px;

}

.box1 h2 {
    margin-top: 0; 
}

.box1 p {
    margin-top: 10px; 
}
    
.box2 {
    color: white;
    background-color: #3974b8; 
    margin-top: 70px;
    height: 250px;
    width: 500px;
    margin-left: 400px;
    padding: 15px; 
    border: 2px solid #4ca4c7; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
    margin-bottom: 200px;
     
}

.box2 h2 {
    margin-top: 0; 
}

.box2 p {
    margin-top: 10px; 
}




.box3 {
    color: white;
    background-color: #32325a; 
    margin-top: 70px;
    height: 250px;
    width: 500px;
    margin-left: 400px;
    padding: 15px; 
    border: 2px solid #ee7401; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
}

.box3 h2 {
    margin-top: 0; 
}

.box3 p {
    margin-top: 10px; 
}

.box-buton {
    padding: 10px 80px;
    background-color: #5f695f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.box-buton:hover {
    background-color: #879187;
}

.box-buton:active {
    background-color: #535a53;
}




.alt-serit {
    height: 180px;
    background-color:rgba(172, 218, 46, 0.795);
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    margin-left: 220px;
    margin-right: auto;
    width: calc(100% - 220px);
}

.kulup-yazi {
    color: rgb(14, 8, 8);
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-left: 220px; 
    padding-top: 20px; 
}

.kulup-logolar {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.kulup-logo {
    max-width: 100px;
    margin-left: 60px; 
}

.kulup-logo img {
    width: 100%;
    height: auto;
}




    


.ust-kisim {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}


.gonder-buton {
    padding: 10px 20px;
    background-color: #2362d8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.gonder-buton:hover {
    background-color: #3a79c2;
}

.gonder-buton:active {
    background-color: #294594;
}

